{% extends 'myauth/base.html' %}

{% block title %}
  Users list
{% endblock %}

{% block body %}
  <h1>Users:</h1>
  {% if users %}
    <div>
    {% for profile in users %}
      <div>
        {% if profile.avatar %}
          <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username  }}"
               style=" height:150px;">
        {% endif %}
        <p>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</a></p>
        <p>Username: {{ profile.user.username }}</p>
        <p>Email: {{ profile.user.email }}</p>
        <p>Bio: {{ profile.bio }}</p>
      </div>
      <div>
        <a href="{% url 'myauth:user-detail' pk=profile.pk %} ">Detail</a>
      </div>
    {% endfor %}

    </div>

  {% else %}
    <h3>No users yet</h3>
  {% endif %}


{% endblock %}